<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>" data-turbolinks="false">Shrestha Solutions</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#products">PRODUCTS</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center" style="background-color: #0f9e00;">
  <h1>Shrestha Solutions</h1>
  <p>
    We specialize in Renewable Energy, Environmental Care & Metal and Fabrications Products
  </p>
</div>

<div class="container-fluid" id="about">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Company</h2>
      <h4>
        To provide complete solutions for different activities in the field of power, energy and
        environment SHRESTHA SOLUTIONS was established. It is providing services
        since last 15 years to customers. It is backed up by qualified engineers and
        professionals to stand with all solutions. Coming across many crisis, problems from
        various organizations and individuals ; We have developed sustainable solutions
        with most appropriate technologies. We study, consult and provide selective
        solutions in our field to bring complete satisfactions among our customers.
      </h4>
      <!-- <button class="btn btn-default btn-lg">Get in Touch</button> -->
      <a href="#contact" class="btn btn-default btn-lg">Get in Touch</a>
    </div>
    <div class="col-sm-4 text-center">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey text-center slideanim" id="services">
  <h2 class="h2 text-uppercase">services</h2>
  <h4>What we offer</h4> <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>ENERGY CONSERVATION METHOD IMPLEMENTATION</h4>
    </div>

    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>ENERGY AUDITING</h4>
    </div>

    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>ELECTRICAL & FIRE SAFETY AUDIT</h4>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>ELECTRICAL INSTALLATION AND TESTING</h4>
    </div>

    <div class="col-sm-6">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>COMPLETE INSTALLATION OF ROOFTOP GARDENS</h4>
    </div>

  </div>

</div>

<div class="container-fluid text-center slideanim" id="products">
  <h2>Products</h2>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <a href="<%= products_renewable_energy_path %>" data-turbolinks="false">
          <%= image_tag("shrestha1.jpg", alt: "solar water pumping systems") %>
          <p><strong class="text-uppercase">renewable energy</strong></p>
        </a>
        <p>We have many projects related to renewable energy.</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
        <a href="<%= products_environment_care_path %>" data-turbolinks="false">
          <%= image_tag("shrestha21.jpg", alt: "Bio gas plant") %>
          <p><strong class="text-uppercase">environment care</strong></p>
        </a>
        <p>Our environment friendly products.</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
        <a href="<%= products_metal_forming_path %>" data-turbolinks="false">
          <%= image_tag("shrestha31.jpg", alt: "Metal Forming and Fabrications") %>
          <p><strong class="text-uppercase">Metal forming and Fabrications</strong></p>
        </a>
        <p>We have a large variety of products in metal forming and fabrications.</p>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid bg-grey slideanim" id="contact">
  <h2 class="text-center">CONTACT</h2> <br>
  <div class="row">
    <div class="col-sm-5">
      <p>
        Contact us and we'll get back to you within 24 hours
      </p>
      <p><span class="glyphicon glyphicon-map-marker"></span>
        SHRESTHA SOLUTIONS <br> 1242/5, ANAND NAGAR, BOMIKHAL <br> BHUBANESWAR – 751010
        <br>
        <span class="glyphicon glyphicon-map-marker"></span> Works : A – 8, Mancheswar Industrial Estate, Bhubaneswar – 751010
      </p>
      <p><span class="glyphicon glyphicon-phone"></span> +919861040136 / +919437256345</p>
      <p><span class="glyphicon glyphicon-envelope"></span>
        nihar_ic@yahoo.com
      </p>
    </div>
    <div class="col-sm-7">
      <div class="row">

        <div class="col-sm-6">
          <div class="form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>

        <div class="col-sm-12 form-group">
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        </div>

        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
