<%= render 'products/nav_bar' %>

<div class="container-fluid">
  <h2 class="text-center">Renewable Energy Products</h2>
  <div class="row">
    <div class="col-md-8"> <br><br>
      <h4>
        <ul>
          <li>SOLAR WATER PUMPING SYSTEMS</li>
        </ul>
      </h4>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "shrestha1.jpg" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "shrestha7.jpg" %>
      </div>
    </div>

    <div class="col-md-8"> <br> <br>
      <h4>
        <ul>
          <li>SOLAR WATER HEATERS</li>
        </ul>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8"> <br> <br>
      <h4>
        <ul>
          <li>SOLAR POWER BANK FOR DOMESTIC AND COMMERCIAL BUILDINGS</li>
          <li>SOLAR DRYERS FOR INDUSTRIES , SMALL  BUSINESS HOUSE</li>
        </ul>
      </h4>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "shrestha8.jpg" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "shrestha9.png" %>
      </div>
    </div>

    <div class="col-md-8"> <br> <br>
      <h4>
        <ul>
          <li>BIO GAS PLANTS</li>
          <li>WIND POWER STATIONS</li>
        </ul>
      </h4>
    </div>
  </div>

</div>
